<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>La Vaca Mala</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <strong>La Vaca Mala</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <!-- enlaces de nuestro menu-->
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/home-admin}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/views/helados/}">Helados</a></li>

                        </ul>

                    </div>
                </div>
            </nav>
            
            <!--Mensajes-->
            <div class="alert alert-success alert-dismissable" th:if="${success != null}">
                <label th:text="${success}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            
            <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
                <label th:text="${error}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            
            <div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
                <label th:text="${warning}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </header>

        <div class="container"></div>

        <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

            <div class="container">
                <p>Copyright LaVacaMala &COPY; -2022</p>
            </div>

            <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
            <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
            <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

        </footer>

    </body>
</html>
