<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="plantilla/template :: head">
        <title>La Vaca Mala</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="plantilla/template :: header"></header>

        <div class="container">
            <h1>Vaca Mala</h1>
        </div>


        <footer th:replace="plantilla/template :: footer"></footer>
    </body>
</html>
